@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

<h1>Book List</h1>


    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>
        <ul>
            <li>Author: @b.Author</li>
            <li>Price: @b.Price</li>
        </ul>
    }

<div page-model="@Model.PaginationInfo" page-action="Index"></div>